## Use Python 3.10.12

ADMIN_USER_IDS = "your_telegram_user_id"  # Separate multiple admin IDs by comma

API_ID= "your_telegram_api_id"
API_HASH= "your_telegram_api_hash"

BOT_TOKEN= "your_telegram_bot_token"

SPOTIFY_CLIENT_SECRET = "your_spotify_client_secret"
SPOTIFY_CLIENT_ID = "your_spotify_client_id"

GENIUS_ACCESS_TOKEN = "your_genius_access_token"
